{% extends "base.html"%}

    {% block content %}


    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Change your Password</h3>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <div class="card-text">
                <!--
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form method="post" >
                    {% csrf_token %}
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="text" name="new_password" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control form-control-sm">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Reset</button>
                    
                    <div class="sign-up">
                        Redirect to Login <a href="{% url 'login_attempt' %}">click here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    

    {% endblock %}