<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you page</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/thanku.css' %}">
</head>
<body>
    <div class=content>
        <div class="wrapper-1">
          <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>Thanks {{request.user.username}} for using our website.</p>
            <p>you can check your profile by click <a href="/" class="newanchor">here</a></p>
            <button class="go-home">
            <a href="/">go home</a>
            </button>
          </div>
      </div>
      </div>
      
      
      
      <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
</body>
</html>